* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: relative;
}
.logo-header {
    display: flex;
    align-items: center;
}
.logo-header img {
    width: 150px;
}
nav {
    display: flex;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
nav a:hover {
    border-bottom: 3px solid yellow;
    
}
.button-header {
    display:flex;
    align-items: center;
    gap: 15px;
}
.button-1, .button-2 {
    padding: 12px 22px;
    border-radius: 30px;
    cursor: pointer;
}
.button-1 {
    background-color: #0d514e;
    color: white;
}
.button-1:hover {
    background-color: #020f0f;
    color: white;
}
.button-2 {
    border: 1px solid #cccccc;
    color: #0d514e;
    padding: 12px 22px;
    border-radius: 25px;
    cursor: pointer;
}
.button-2:hover {
    border: 1px solid #0d514e;
    color: #0d514e;
    padding: 12px 22px;
    border-radius: 25px;
    background-color: #757575;
    color: white;
}
.introduction {
    text-align: center;
    margin-top: 40px;
}
.introduction .light {
    color: rgb(173, 173, 173);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 2px;
}
.introduction h1 {
    font-size: 60px;
    line-height: 1.1;
    font-weight: 700;
    color: #172020;
}
.introduction h1 span {
    color: rgb(102, 102, 102);
}
.introduction > p:last-child {
    font-size: 18px;
    line-height: 1.6;
    color: #66708f;
}
.cards {
    display: flex;
    justify-content:center;
    gap: 150px;
    margin-top: 60px;
}
.card {
    width: 330px;
    min-height: 430px;
    padding: 30px;
    background-color: rgb(252, 249, 249);
    border-radius: 30px;
    box-shadow: 0 5px 20 px rgba(0, 0, 0, 0.88);
    
    display: flex;
    flex-direction: column;
}
.card-icon {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f3eee3;
    border: 1px solid #e5dccb;
    border-radius: 50%;

    margin-bottom: 15px;
}
.card-icon svg {
    width: 24px;
    height: 24px;
}
.card-title {
    margin-bottom: 8px;
}
.card-title h2 {
    font-size: 30px;
    color: #172020;
    font-weight: 700;
}
.card-princing {
    display: flex;
    align-items: baseline;
    gap: 4px;
    margin-bottom: 15px;
    color: #0d514e;
}
.card-princing span {
    font-size: 16px;
    color: #0d514e;
}
.card-princing strong {
    font-size: 32px;
    font-weight: 700;
    color:#0d514e
}
.card-princing small {
    font-size: 14px;
    color: #555;
}
.card-description {
    margin-bottom: 20;
}
.card-description p {
    font-size: 14px;
    line-height: 1.4;
    color: #66706f;
}
.card-toppings {
    list-style: none;
    margin: 0 0 30px 0;
}
.card-toppings li {
    font-size: 13px;
    color: #4f5958;
}
.card-button {
    margin-top: 20px;
    cursor: pointer;
}
.card-button p {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    border: 1px solid #0d514e;
    border-radius: 30px;
    color: #0d514e;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}
.card-button p:hover {
    background-color: #0d514e;
    color: white;
}
.newsletter {
    width: 90%;
    max-width: 1200px;
    margin: 70px auto 0;
    padding: 35px 40px;

    background-color: #0d514e;
    border-radius: 25px;
    color: white;
}
.newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.newsletter-text {
    max-width: 600px;
}
.newsletter-label {
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.newsletter-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.newsletter-text > p:not(.newsletter-label) {
    font-size: 14px;
    line-height: 1.5;
    color: #d9e8e6;
}
.newsletter-features {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}
.newsletter-features span {
    color: white;
    font-size: 12px;
}
.newsletter-form {
    width: 400px;
}
.newsletter-icon {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    margin-bottom: 10px;

}
.newsletter-form p {
    font-size: 13px;
    margin-bottom: 8px;
}
.form-email {
    display: flex;
    gap: 8px;
}
.form-email input {
    flex: 1;
    padding: 12px 15px;

    border: none;
    border-radius: 25px;

    outline: none;

    background-color: rgba(255, 255, 255, 0.12);
    color: white;
}
.form-email button {
    padding: 12px 22px;

    border: none;
    border-radius: 25px;

    background-color: #dff5a8;
    color: #0d514e;

    font-weight: 600;
    cursor: pointer;

}
.form-email button:hover {
    background-color: white;

}
.newsletter-form small {
    display: block;
    margin-top: 12px;

    font-size: 9px;
    color: #c5d4d2;
}
